/* Increase navbar height and logo size */
.md-header {
    height: 3.6rem;
}
.md-header__inner {
    height: 3.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.md-header__button.md-logo {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 3rem;
}
